html, body {
  height: 100%;
  background: black;
  color: white;
  display: grid; /*  Center rating box */
  place-items: center; /*  Center rating box */
}

#ratingBox, #thankYouBox {
  margin: 2rem;
  padding: 2em;
  border-radius: .5em;
  background: rgba(26,33,43,255);
  width: 18rem;
}

#ratingBox ul {
  display: flex;
  padding: 0;
  justify-content: space-between;
}

#ratingBox li {
  height: 3em;
  width: 3em;
  background: rgba(33,40,50,255);
  border-radius: 50%;
  list-style: none;
  cursor: pointer;
  display: grid; /*  Center rating box */
  place-items: center; /*  Center rating box */
  user-select: none; /*  Disable highlighting text */
}

#ratingBox li:hover {
  background: rgba(73,80,90,255);
}

#ratingBox button {
  background-color: #fc7613;
  color: white;
  width: 100%;
  padding: .5em 0;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  user-select: none; /*  Disable highlighting text */
}

#ratingBox button:hover {
  background-color: #ff9448;
}

#ratingBox .selectedRating,  #ratingBox .selectedRating:hover {
  background-color: #fc7613;
}

#ratingBox button.inactive {
  background: rgba(33,40,50,255);
  cursor: auto;
}

.hidden {
  display: none;
}